<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Edit User</title>
</head>
<body>
  <h1>Edit User</h1>
  <form action="/user/<%= user.id %>?_method=PATCH" method="POST" id="editUserForm">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="<%= user.username %>">
    <label for="password">Confirm Password:</label>
    <input type="password" id="password" name="password">
    <!-- <input type="hidden" name="token" value="<%= token %>"> Hidden input for token -->
    <button type="submit">Update</button>
  </form>
  <!-- <a href="/user">Back to Users</a> -->
</body>
</html>
